# Optional: AWS Athena Configuration (Only required if you use the live Athena cloud engine toggle)
# Default execution uses local DuckDB with $0.00 cost and zero cloud dependencies.

AWS_ACCESS_KEY_ID = "your_access_key"
AWS_SECRET_ACCESS_KEY = "your_secret_key"
AWS_REGION = "ap-southeast-2"
S3_BUCKET = "musicbrainz-etl-project-luc"
ATHENA_DATABASE = "musicbrainz_dw"
ATHENA_OUTPUT = "s3://musicbrainz-etl-project-luc/athena-results/"
